{{define "ND_INVENTORY_SWITCH_RSC"}}
resource "nd_inventory_switch" "{{.RscName}}" {
{{- if .DependsOn}}
    depends_on = [{{.DependsOn}}]
{{- end}}
{{with .InventorySwitch}}
    fabric_name = "{{.FabricName}}"
    {{- if .Mode}}
    mode = "{{.Mode}}"
    {{- end}}
    {{- if .DiscoveryUsername}}
    discovery_username = "{{.DiscoveryUsername}}"
    {{- end}}
    {{- if .DiscoveryPassword}}
    discovery_password = "{{.DiscoveryPassword}}"
    {{- end}}
    {{- if .BootstrapPassword}}
    bootstrap_password = "{{.BootstrapPassword}}"
    {{- end}}
    {{- if .UseNewCredentials}}
    use_new_credentials = {{deref_bool .UseNewCredentials}}
    {{- end}}
    {{- if .DiscoveryCredForLan}}
    discovery_cred_for_lan = {{deref_bool .DiscoveryCredForLan}}
    {{- end}}
    {{- if .SnmpV3AuthProtocol}}
    snmp_v3_auth_protocol = "{{.SnmpV3AuthProtocol}}"
    {{- end}}
    {{- if .MaxHop}}
    max_hop = {{deref_int64 .MaxHop}}
    {{- end}}
    {{- if .PreserveConfig}}
    preserve_config = {{deref_bool .PreserveConfig}}
    {{- end}}
    switch_detail = {
        ip_address = "{{.SwitchDetail.IpAddress}}"
        {{- if .SwitchDetail.SerialNumber}}
        serial_number = "{{.SwitchDetail.SerialNumber}}"
        {{- end}}
        {{- if .SwitchDetail.Hostname}}
        hostname = "{{.SwitchDetail.Hostname}}"
        {{- end}}
        {{- if .SwitchDetail.SwitchRole}}
        switch_role = "{{.SwitchDetail.SwitchRole}}"
        {{- end}}
        {{- if .SwitchDetail.GatewayIpMask}}
        gateway_ip_mask = "{{.SwitchDetail.GatewayIpMask}}"
        {{- end}}
        {{- if .SwitchDetail.DiscoveryAuthProtocol}}
        discovery_auth_protocol = "{{.SwitchDetail.DiscoveryAuthProtocol}}"
        {{- end}}
    }
{{end}}
}
{{end}}
