{{define "ND_MULTI_CLUSTER_CONNECTIVITY_RSC"}}
resource "nd_multi_cluster_connectivity" "{{.RscName}}" {
{{with .MultiClusterConnectivity}}
    hostname = "{{.Spec.Hostname}}"
    username = "{{.Spec.Credentials.Username}}"
    password = "{{.Spec.Credentials.Password}}"
    {{- if .Spec.Credentials.LoginDomain}}
    login_domain = "{{.Spec.Credentials.LoginDomain}}"
    {{- end}}
    {{- if .Spec.Nd.MultiClusterLoginDomain}}
    multi_cluster_login_domain = "{{.Spec.Nd.MultiClusterLoginDomain}}"
    {{- end}}
{{end}}
}
{{end}}
