{{define "ND_REMOTE_STORAGE_LOCATION_RSC"}}
resource "nd_remote_storage_location" "{{.RscName}}" {
{{- with .RemoteStorage }}
    name                  = "{{.Name}}"
    {{- if .Description }}
    description           = "{{.Description}}"
    {{- end }}
    hostname              = "{{.Hostname}}"
    path                  = "{{.Path}}"
    {{- with .Nfs }}
    nfs = {
        {{- if ne .Port nil }}
        port            = {{deref_int64 .Port}}
        {{- end }}
        {{- if .Limit }}
        limit           = "{{.Limit}}"
        {{- end }}
        {{- if ne .ReadWrite nil }}
        read_write      = {{deref_bool .ReadWrite}}
        {{- end }}
        {{- if ne .AlertThreshold nil }}
        alert_threshold = {{deref_int64 .AlertThreshold}}
        {{- end }}
    }
    {{- end }}
    {{- with .ScpSftp }}
    scp_sftp = {
        {{- if .Protocol }}
        protocol = "{{.Protocol}}"
        {{- end }}
        {{- if ne .Port nil }}
        port     = {{deref_int64 .Port}}
        {{- end }}
        {{- if .Username }}
        username = "{{.Username}}"
        {{- end }}
        {{- if .Password }}
        password = "{{.Password}}"
        {{- end }}
        {{- if .SshKey }}
        ssh_key = {{printf "%q" .SshKey}}
        {{- end }}
        {{- if .Passphrase }}
        passphrase = "{{.Passphrase}}"
        {{- end }}
        {{- if ne .IgnoreHostKeyValidation nil }}
        ignore_host_key_validation = {{deref_bool .IgnoreHostKeyValidation}}
        {{- end }}
        {{- if ne .AcceptHostKey nil }}
        accept_host_key = {{deref_bool .AcceptHostKey}}
        {{- end }}
    }
    {{- end }}
{{- end }}
}
{{end}}
