{{define "ND_TENANT_DOMAIN_RSC"}}
resource "nd_tenant_domain" "{{.RscName}}" {
{{- if .DependsOn}}
    depends_on = [{{.DependsOn}}]
{{- end}}
{{- with .TenantDomain }}
    name = {{printf "%q" .Name}}
    {{- if .Description}}
    description = {{printf "%q" .Description}}
    {{- end}}
    {{- if .TenantNames}}
    tenant_names = {{quote_list .TenantNames}}
    {{- end}}
{{- end}}
}
{{end}}

{{define "ND_TENANT_DOMAIN_DS"}}
{{with .TenantDomainDataSource}}
data "nd_tenant_domain" "{{.RscName}}" {
    name = {{printf "%q" .Name}}
    {{- if .DependsOn}}
    depends_on = [{{.DependsOn}}]
    {{- end}}
}
{{end}}
{{end}}
