{{define "ND_VPC_PAIR_RSC"}}
resource "nd_vpc_pair" "{{.RscName}}" {
{{with .VpcPair}}
    switch_1_serial_number = "{{.Switch1SerialNumber}}"
    switch_2_serial_number = "{{.Switch2SerialNumber}}"
    use_virtual_peerlink = {{deref_bool .UseVirtualPeerlink}}
    deploy = {{.Deploy}}
{{end}}
}
{{end}}
